@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu {
  background: transparent; /* Mengatur background menjadi transparan */
  shadow: none !important;
}

.no-scrollbar ::-webkit-scrollbar {
  width: 0px;
}
